@import "tailwindcss";
@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alte Haas Grotesk";
  src: url("/fonts/AlteHaasGrotesk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Alte Haas Grotesk";
  src: url("/fonts/AlteHaasGrotesk-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.coming-soon {
  position: relative;
  min-height: 100svh;
  overflow: hidden;
  background: #171717;
}

.background {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;

  min-height: 100svh;

  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*justify-content: center;*/
}

.coming-soon-logo {
  width: min(700px, 75vw);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

  opacity: 0;
  filter: blur(20px);
  transition: opacity 2.1s ease, filter 1.2s ease;
}

.coming-soon-logo.is-loaded {
  opacity: 1;
  filter: blur(0);
}

.entrance-letter {
  display: inline-block;
  opacity: 0;
  transform: translateX(-80px);
  transition: opacity 0.7s cubic-bezier(0.65, 0, 0.35, 1),
    transform 0.7s cubic-bezier(0.65, 0, 0.35, 1);
}

.entrance-letter.is-visible {
  opacity: 1;
  transform: translateX(0);
}

.flor-de-text{
  font-family: "JetBrains Mono", monospace;
  font-size: 1rem;
  color: #ffffff;
  display:flex;
  gap: 70rem;
  margin-top: 2rem;
  margin-left: 2rem;
}

.interior-text{
  font-family: "JetBrains Mono", monospace;
  font-size: 1rem;
  color: #ffffff;
  text-align: right;
  margin-right: 2rem;
}

.links{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-left: 2rem;
  
}

.instagram-link{
  font-family: "Alte Haas Grotesk", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  text-align: right;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

/*.instagram-link-hover:hover .instagram-link {
  text-decoration: underline;
}
*/

.website-link{
  font-family: "Alte Haas Grotesk", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  text-align: right;
  margin-right: 2rem;
  margin-bottom: 2rem;
}

.location{
  font-family: "Alte Haas Grotesk", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  text-align: right;
  margin-right: 2rem;
  margin-bottom: 2rem;
}