@import "tailwindcss";


.coming-soon {
  position: relative;
  min-height: 100svh;
  overflow: hidden;
  background: #171717;
}

.background {
  position: absolute;
  inset: 0;
  background: url("/background.svg") center / cover no-repeat;
}

.content {
  position: relative;
  z-index: 1;

  min-height: 100svh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coming-soon-logo {
  width: min(700px, 75vw);
  height: auto;
}

.flower {
  width: 150px;
}